@font-face{
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-family: 'Nunito';
}
@font-face{
    src: url(../fonts/YesevaOne-Regular.ttf);
    font-family: 'Yeseva';
}


/* FOR ALL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

input{
    border: none;
    outline:none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

}

section{
    position: relative;
}

h2{
    font-family: 'Yeseva';
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-align: left;
    color: #E3B873;
    text-transform: uppercase;
}

h3{
    font-family: 'Yeseva';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

h4{
    font-family: 'Yeseva';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.07em;
    text-align: left;
    color: #E3B873;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

a:hover{
    color:  #E3B873;
}

.fixed{
    min-width: 1024px;
    max-width: 1920px;
}

button{
    text-decoration: none;
    background: #E3B873;
    font-size: 11px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 0;
}

button:hover{
    cursor: pointer;
    background: rgb(227, 184, 115, 0);
    border: 1px solid rgb(255, 255, 255);
}


/* HEADER */ 

.header{      
    margin: 0 auto;    
}

.header .fixed{
    background: rgb(0, 0, 0);      
    height: 83px;
}

.menu-container{    
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 87vw;
    margin: 0 auto;
    padding-top: 24px;
    font-size: 11px;
}

.name{
    color:  #E3B873;
    cursor:default
}

.menu{
    display: flex;
    margin-left: 1.2vw;
}

.menu-item{
    color: rgb(255, 255, 255);
}

.menu li+li{   
    margin-left: 3.8vw;
}


.calling{
    display: flex;
}

.request-call{
    width: 11vw;    
    height: 37px;
    margin-left: 3.1vw;    
}

.number{
    color:  rgb(227, 184, 114);
    display: flex;
    text-align: center;
    align-items:center;
    text-decoration: underline;  
}


/* MAIN */


/* MAIN-CONTAINER */

.main-container .fixed{
    background-image:  url(../img/main-container.png);
    background-size: cover;
    position: relative;
    z-index: 3;    
}
.main-container .fixed:after{
    content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0.7);
}

.information{
    padding-top: 13vw;
    padding-left: 9.3vw;
}

h1{
    color: rgb(255, 255, 255);
    margin-bottom: 19px;
    font-family: 'Yeseva', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    line-height: 53.13px;
    max-width: 600px;
}

h1 span{
    color:  rgb(227, 184, 114);
    font-family: 'Yeseva', sans-serif;
}

.main-text{
    color: #ffffff;
    max-width: 520px;
    font-size: 22px;
    line-height: 36px;
    white-space: pre-line;
}

.main-buttons{
    margin-top: 35px;
}

.main-container button{
    width: 207px;
    height: 51px;
    margin-bottom: 14.4vw;
}

.calculate{
    margin-right: 20px;
}


/* BLACK */ 


.black .fixed{
    background: #131313;
}

.projects{
    padding: 7.4vw 9.3vw 6.4vw ;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.projects-left{
    margin-top: 4.8vw;
}

.black h2{
    max-width: 250px;
}

.projects-text{
    font-size: 14px;
    Line-height: 27px;
    margin-top: 34px;
    max-width: 442px;
    white-space: pre-line;
}

.shorts{
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 73px;
    grid-gap: 34px;
}

.short p{
    white-space: pre-line;
    font-size: 13px;
    line-height: 21px;
}

.scroll{
    margin-top: 54px;
}

.scroll img{
    margin-right: 43px;
}

.projects-right{
    margin-left: 15px;
}

.cities{
    display: flex;
}  

.a-city{
    font-family: 'Yeseva';
}

.cities li+li{
    margin-left: 60.5px;
}

.a-city:hover{
    text-decoration: underline;  
}

.black-photo{
    width: 47.15vw;
    margin-top: 52px;
}

.online-control{
    text-align: center;
}

.online-control h3{
    color: white;
}

.h3-img{
    margin-top: 12.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.h3-img img+img{
    margin-left: 8px;
}

/* VIDEO */

.video{
    padding-left: 21.6vw;
    height: 30.14vw; 
    background: linear-gradient(#131313 50%, white 50%);
    bottom: 15.69vw;
}

.pause-img{
    z-index: 3;
    position: absolute;
    margin-left: 23vw;
    margin-top: 10vw;
}

.video-img{
    position: absolute;
    z-index: 2;
    width: 56.74vw;
    height: 30.14vw;
}

.pause-img:hover{
    cursor: pointer;    
}


/* WHITE */


/* BROADCAST (трансляция)*/ 

.long-line{
    padding-top: 4.3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2.36vw;
}

.broadcast-text{
    color:#363636;
    display: flex;
    text-align: center;
    max-width: 681px;
    margin: 0 auto;
    line-height: 37px;
    font-size: 18px;
    white-space: pre-line;
    margin-bottom: 6.46vw;
}

.form-group input{
    color: #363636;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.name-phone input::placeholder{
    color: #363636;
}

.form-group div{
    color: #3636367f;
    font-size: 14px;
}

.form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 2.7vw;
}

.form-group li+li{
    margin-left: 55px;
}

.submit-btn{
    height: 51px;
    width: 200px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 27px;
}

.submit-btn:hover{
    border: 1px solid #c68f35;
    color: #c68f35;
}


/* CHECKBOX */ 

.label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10.2vw;
}

.checkbox{
    display: none;
}

.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.agree-text{
    color: #181818;
    margin-left: 8.6px;
}


/* REPAIRS (ремонт) */


.types-repair{
    display: flex;
    justify-content: center;
    margin-bottom: 8.6vw
}

.types-repair>li+li{
    margin-left: 30px;
}

.repair{
    height: 608px;
    width: 392px;
}

.repair img{
    position: absolute;
    z-index: 2;
}

.repair-information{
    height: 286px;
    width: 330px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 6px 5px 15px 5px rgba(0,0,0,0.22);
    position: absolute;
    z-index: 3;
    margin-top: 294px;
    margin-left: 31px;
}

.title{
    color: #363636;
    padding-top: 25px;
    padding-left: 34px;
    padding-bottom: 13px;
}

.services{
    padding-left: 48px;
    margin-bottom: 20px;
}

.services li{
    list-style-type: disc;
    color: #959595;
    font-size: 13px;
    line-height: 27px;
}

.price-btn{
    width: 228px;
    height: 54px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.price-btn:hover{
    background: #fff;
    border: 1px solid #c68f35;
    color: #c68f35;
}


/* MEASUREMENTS(замеры) */

.measurements img{
    position: absolute;
    z-index: 1;
}


.points{
    position: absolute;
    z-index: 2;
    padding-left: 241px;
    padding-top: 109px;
}

.points p{
    color: #363636;    
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    white-space: pre-line;
}

.points li{
    display: flex;
    align-items: center;
}

.points li+li{
    margin-top: 86px;
}

.point{
    height: 57px;
    width: 57px;
    border-radius: 30px;
    font-family: 'Yeseva';
    font-size: 18px;
    background: #E3B873;
    color: #fff;
    border: 8px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    margin-right: 5px;
}

.request{
    margin-left: 57.92vw;
    margin-right: 7vw;
    position: absolute;
    margin-top: 7.36vw;
}

.request-form{
    background: #131313;
    padding-top: 28px;

}

.request-form p{
    font-size: 18px;
    line-height: 25.78px;
    white-space: pre-line;
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.vertical{
    flex-direction: column;
    margin-left: 49px;
    margin-bottom: 16px;
    margin-right: 49px;
    font-size: 14px;
}

.vertical .name-phone{
    margin-top: 38px;
}

.vertical li+li{
    margin-left: 0;
}

.vertical li:first-child{
    margin-top: 0;
}

.vertical input{
    color: #fff;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0);
    width: 408px;
}

.vertical .name-phone input::placeholder{
    color: #fff;
}

.vertical div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 7px;
}

.vertical .agree-text{
    color: #fff;
}

.vertical label{
    margin: 0;
    justify-content: start;
    margin-top: 6px;
    margin-bottom: 39px;
}

.vertical .submit-btn{
    width: 213px;
}

.vertical li:last-child{
    justify-content: end;
    display: flex;
    margin-bottom: 27px;
}

.pig-help p{
    color:  rgb(227, 184, 114);
    white-space: pre-line;
    margin-left: 25px;
}

.pig-img{
    background: rgb(227, 184, 114);
    width: 72px;
    border-radius: 72px;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
}

.pig-help{
    display: flex;
    align-items: center;
    margin-left: 31px;
}


/*  FANTASIES  */

.fantasies-bg{
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
